<app-header></app-header>
<!--=============banner========-->
<section class="privacy_policy" style="background: url(assets/images/privacy_policy.jpg);">
    <div class="services_overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-md-offset-6">
          <h1 class="services-title text-white animated bounceInLeft delay-1s"><b>Privacy Policy</b></h1>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div><!--/row-->
    </div><!--/container-->
</section><!-- banner_section -->



<section class="privacy_policy_sec">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="wrap_body mb-3">
                       <h2 class="text_org">Who we are ?</h2>
                       <p>Our website address is: https://servicenearme.org.</p>
                       <h4 class="text_org">What personal data we collect and why we collect it?</h4>
                       <h4 class="text_org">Comments</h4>
                       <p>When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.</p>
                       <p>An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.</p>
                       <h4 class="text_org">Media</h4>
                       <p>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.</p>
                       <h4 class="text_org">Contact forms</h4>
                       <h4 class="text_org">Cookies</h4>
                       <p>If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.</p>
                       <p>If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p>
                       <p>When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.</p>
                       <p>If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>
                       <h4 class="text_org">Embedded content from other websites</h4>
                       <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.</p>
                       <p>These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.</p>
                       <h4 class="text_org">Analytics</h4>
                       <h4 class="text_org">Who we share your data with?</h4>
                       <h4 class="text_org">How long we retain your data?</h4>
                       <p>If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.</p>
                       <p>For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.</p>
                       <h4 class="text_org">What rights you have over your data?</h4>
                       <p>If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>
                       <h4 class="text_org">Where we send your data?</h4>
                       <p>Visitor comments may be checked through an automated spam detection service.</p>

                </div>
            </div>


            <div class="col-12 col-md-4">
                <div class="wrap_body">
                    <img src="assets/images/service_near.svg" width="100%" class="mb-3" alt="services">
                    <h5 class="text_org">Find best professional for your household service.</h5>
                    <p class="text-justify">We are a team dedicated to fill a gap between consumer and service provider. We connect you to the nearest service provider as soon as you call us. If you're looking for plumbers in your area or locksmiths or any other household service then you're just a call away. Just call us on our toll-free number +1-888-441-9444 and we'll connect you to the nearest service provider immediately. You can book an immediate appointment with them or you can also fix an appointment for the specific time. Now, you need not worry about any household service, just call us and we'll get you one then and there.</p>
                    <img src="assets/images/services-img_01.jpg" width="100%" class="mb-3" alt="services">
                </div>
            </div>
        </div><!--/row-->
    </div>
</section>


<app-footer></app-footer>

