<app-header></app-header>
<!--=============banner========-->
<section class="about_us" style="background: url(assets/images/privacy_policy.jpg);">
    <div class="services_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-md-offset-6">
                <h1 class="services-title text-white animated bounceInLeft delay-1s"><b>About Us-</b></h1>
                
            </div>
        </div><!--/row-->
    </div><!--/container-->
</section><!-- banner_section -->



<section class="about_us_sec">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="wrap_body mb-3">    
                    <h4 class="text_org">-Our Work Is Our Story</h4>
                    <p>ServiceNearMe is not going to bore you by telling you about our history and how we formed, and what all locations we have. What we do and why we do are all you need to know.</p>                
                    <h4 class="text_org">-For Us, Customers Are Our First Priority</h4>
                    <p>We have always kept the needs and requirements of our customers as our first and fore most priority and thus all our services are easily accessible. Here, we have a team of talented and high-skilled employees who work day and night to give you the best of the services. Our ultimate goal is to give uninterrupted amenities in a transparent manner. Hence, we are making efforts to expand our network so that we can provide services as per the needs of offices, homes and buildings.</p>                   
                </div>
            </div>
        </div><!--/row-->
    </div>
</section>


<app-footer></app-footer>

