<!--==============Footer===========-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="footer_box">
            <h4>About Us</h4>
            <p class="text-justify">ServiceNearMe is a suitable home service online platform that will make your life
              easier by helping you in finding exclusive service providers anytime and anywhere. We cover almost
              everything that you might need at home and provide one-click solutions for all your daily home problems.
              Our main aim is to deliver the best services to our valuable customers. </p>
          </div>
        </div>
        <!-- about-us closed -->

        <div class="col-12 col-md-3">
          <div class="footer_box">
            <h4>Important Links</h4>
            <ul class="web_link">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/about-us">About Us</a></li>
              <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <!-- important closed -->

        <div class="col-6 col-md-3">
          <div class="footer_box">
            <h4>Disclaimer</h4>
            <p class="text-justify">ServiceNearMe is an independent service provider. We expressly disclaim any of the
              warranties, express or implied related to the screening process, criteria, procedures or information
              obtained or presented in the screening process or disclosures mentioned. The logo and content used are
              just for reference. We are not affiliated to any third party or service provider. The information received
              in the screening or verification procedure is reliable, timely and error free.</p>
          </div>
        </div>
        <!-- disclaimer closed -->

          <div class="col-12 col-md-3">
                    <div class="footer_box">
                        <h4>Contact Us</h4>     
            <p>
              <strong>Address:</strong>53 Reynolds Street,Iselin,<br>New Jersey<br><strong>Website:
              </strong>www.servicenearme.org<br><strong>Email:</strong> info@servicenearme.org/<br>
              <strong>Call Toll Free:</strong> +1-888-441-9444</p>           
          </div>
             </div>
            

        <!--main row closed -->
      </div>
    </div>
  </div>
</footer><!-- #footer -->
<div class="copyright">
  &copy; Copyright 2020 <a href="www.servicenearme.org" class="t-color">Service Near Me</a>. All Rights Reserved
</div>
